DB_HOST=postgres
DB_PORT=5432
DB_USER=pr_reviewer
DB_PASSWORD=pr_reviewer
DB_NAME=pr_reviewer_db
DB_SSLMODE=disable

PORT=8080

POSTGRES_USER=pr_reviewer
POSTGRES_PASSWORD=pr_reviewer
POSTGRES_DB=pr_reviewer_db